#diary{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 100px;
}
#box{
    height: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
   
}
#view{
    position: fixed;
    top: 10%;
    width: 90%;
    left: 5%;
    height: 700px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 28px 6px rgba(0,0,0,0.75);
}
#edit{
    position: absolute;
    top: 10%;
    width: 90%;
    left: 5%;
    height: 700px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 28px 6px rgba(0,0,0,0.75);
}
/* .fa-plus{
position: absolute;
color: white;
background-color: black;
width: 80px;
height: 80px;
border-radius: 50%;
align-content: center;
text-align: center;
font-size: 50px;
top: 650px;
left: 90%;
} */
@media screen and (max-width: 768px){
    #diary{
        grid-template-columns: 50% 50%;
    }
    #box  h3,h5{
        font-size: 20px;
    }
    #box  h5{
        font-size: 15px;
    }
}